.App {
  background-color: #ebe7e780;
}

/* HEADER------------------ */
.logo {
  width: 140px;
  height: 45px;
  position: relative;
}

.header {
  border-bottom: 1px solid #d1d7d7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(209, 215, 215);
  box-shadow: 0px 0px 6px black;
}

.nav-header {
  display: flex;
}

.container-header {
  margin-right: 300px;
  margin-left: 300px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--header {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add--header {
  color: white;
  background-color: #f56b2a;
  border-radius: 4px;
  border-color: #f56b2a;
  height: 30px;
}

.search--header > button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.login--header > button {
  padding: 0;
  padding-top: 5px;
  border: none;
  background: none;
  cursor: pointer;
  list-style: none;
}

.login--header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  FOOTER -------------- */

.footer-container {
  background-color: #474747;
  height: 60px;
  display: flex;
  justify-content: center;
  color: white;
}

/* Login -------------------*/
.container-login {
  background-color: #fafafa;
  height: 660px;
  display: flex;
  justify-content: center;
}

.container--login {
  background-color: white;
  height: 410px;
  width: 500px;
  margin-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-connexion--login {
  border-bottom: 10px solid #f56b2a;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #f56b2a;
  text-align: center;
}

.text--login > textarea {
  resize: none;
  height: 25px;
  border-radius: 4px;
  border-color: grey;
  padding-bottom: 10px;
}

.container--login > button {
  margin-top: 20px;
  height: 40px;
  border-radius: 4px;
  border-color: #4183d7;
  background-color: #4183d7;
  color: white;
  cursor: pointer;
}

.create-login {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid #d1d7d7;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(209, 215, 215);
}

.create-login > p {
  text-align: center;
}

.create--login > button {
  height: 40px;
  border-radius: 4px;
  border-color: #4183d7;
  color: #4183d7;
  cursor: pointer;
  width: 500px;
}

/* SIGN UP------------------------ */

.signup-container {
  background-color: #fafafa;

  height: 660px;
  display: flex;
  justify-content: center;
}

.signup--container {
  background-color: white;
  height: 410px;
  width: 800px;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 2px grey;
}

.signup-text {
  width: 500px;
}

.signup-text > h3 {
  padding-left: 20px;
}

.signup-reason {
  text-align: justify;
  padding-right: 110px;
  font-size: smaller;
}

.rowdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.signup-icon {
  font-size: xx-large;
  color: #4183d7;
  padding-right: 20px;
}
.create--container {
  width: 300px;
}

.create--container {
  display: flex;
  flex-direction: column;
}

.create--container > h3 {
  display: flex;
  justify-content: center;
}

.form {
  border-top: 15px solid #f56b2a;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #f56b2a;
  justify-content: flex-start;
}

.form > textarea {
  resize: none;
  height: 20px;
  border-radius: 4px;
  border-color: grey;
  padding-bottom: 10px;
}

.form > p {
  font-size: x-small;
}

.pw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pw--create,
.pw--confirm > p {
  font-size: x-small;
}

.pw--create > textarea {
  resize: none;
  height: 20px;
  border-radius: 4px;
  border-color: grey;
  padding-bottom: 10px;
}
.pw--confirm > textarea {
  resize: none;
  height: 20px;
  border-radius: 4px;
  border-color: grey;
  padding-bottom: 10px;
}

.cgv > span {
  font-size: x-small;
  padding-top: 20px;
}

.cgv {
  padding-top: 10px;
}

.em {
  color: #4183d6;
}

.confirm--create > button {
  margin-top: 20px;
  height: 40px;
  width: 300px;
  border-radius: 4px;
  border-color: #4183d7;
  background-color: #4183d7;
  color: white;
  cursor: pointer;
}

/* Item card main page */

.card--item {
  background-color: grey;
  margin-bottom: 20px;
  margin-right: 250px;
  margin-left: 250px;
  height: 190px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px grey;
  display: flex;
  justify-content: center, flex-start;
}

.card--item--picture > img {
  height: 190px;
  width: 190px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.card--item--picture {
  background-color: #cad1d9;
  height: 190px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--item--text {
  background-color: #ffffff;
}

.card-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price {
  color: #f56b2a;
}

.item-description {
  padding-left: 20px;
}

:link,
a:visited {
  text-decoration: none;
  color: Black;
}

/* Search bar */

.search-bar {
  background-color: white;
  height: 125px;
  width: 700px;
  border-radius: 4px;
  box-shadow: 0px 0px 6px grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 400px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.search-bar > input {
  height: 40px;
  width: 300px;
  border-radius: 4px;
  background-color: #f4f6f7;
  color: grey;
  font-size: 0.9em;
  border: #f4f6f7;
}

.search-bar > button {
  height: 40px;
  width: 200px;
  margin-left: 20px;
  border-radius: 4px;
  color: white;
  background-color: #4183d7;
}

.id--content {
  display: flex;
  padding-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
}

.card-total {
  height: 620px;
}

.author-id {
  background-color: white;
  height: 150px;
  width: 400px;
  box-shadow: 0px 0px 6px grey;
}

.picture-id > img {
  height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.picture-id {
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
}

.card-id {
  background-color: whitesmoke;
  box-shadow: 0px 0px 6px grey;
  margin-right: 20px;
}

.text-id {
  padding-bottom: 20px;
  padding-left: 20px;
}

.author-content {
  padding-left: 15px;
}

.author-content > button {
  height: 35px;
  width: 210px;
  color: white;
  background-color: #f56b2a;
  border-color: #f56b2a;
  border-radius: 4px;
}
